{% extends "page/layout.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/sports/baseball.css' %}">
{% endblock %}

{% block content %}
      <a name="top"></a>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">야구 선수단장 최형태</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone"></div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-captain-image mdl-card mdl-shadow--3dp"></div>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            </div>
            <p class="mdl-typography--font-light science-war-event-text">
              안녕하세요. 2018 포스텍카이스트학생대제전 야구선수단 주장 최형태입니다. 지난 날의 패배를 딛고 포스텍에 승리를 안기기 위해 저부터 책임감 있는 학생감독이 되어 선수단을 이끌고자 노력하고 있습니다. POSTECH 화이팅!
              올해도 지면 야구 폐지하겠다는 각오로 임하겠습니다!
            </p>
          </div>
        </div>

        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">장소 및 시간</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div id="map_canvas"></div>
            </div>
          </div>
        </div>

        <div class="science-war-match-section">
          <div class="science-war-match-title mdl-typography--display-1-color-contrast">선수단</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">최형태</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">권민혁A</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">권오현</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김기환</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김민규</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김치성</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">박도운</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">박종민</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">백광호</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">백승한</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">백지훈</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">양정균</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">오해성</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">윤종호</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">이재건</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">이진현</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">이창희</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">조성호</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">민석영</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">허성재</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">황태연</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">권민혁B</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">양석주</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="science-war-supporters-section-event">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">경기 중 이벤트</div>
          <div class="science-war-card-container mdl-grid">

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/event5.jpg' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">캡슐 이벤트</h4>
              </div>
              <div class="mdl-card__supporting-text science-war-event-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  응원을 하는 중 호응이 큰 쪽으로 상품이 들어있는 캡슐을 날리게 됩니다! 상품을 받기 위해 목청껏 크게 선수들을 응원해주세요!
                </span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/event1.png' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">맥주/콜라 빨리 마시기</h4>
              </div>
              <div class="mdl-card__supporting-text science-war-event-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  누가누가 맥주/콜라를 빨리 마실까요? 맥주/콜라 빨리 마시기 대회를 열어 입상자에게는 푸짐한 혜택을 드립니다!!
                </span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/event5.png' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">순간포착 이벤트</h4>
              </div>
              <div class="mdl-card__supporting-text science-war-event-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  응원 중에 전광판을 주시해주세요! 전광판에 빠르게 지나가는 사진들 중 상품 사진이 섞여있답니다. 전광판의 상품 사진을 찍어 포준위에게 보여주시면 상품을 드립니다!
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="science-war-match-section">
          <div class="science-war-match-title mdl-typography--display-1-color-contrast">경기 전적</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2002</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2003</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2004</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2005</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2006</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2007</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2008</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2010</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2011</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2012</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2013</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2014</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2015</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2016</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyC4DzaNFsi_WESg8xMBP7War7ZYv29Ac"></script>
  <script type="text/javascript">
  function initialize() {
    var centerLating = new google.maps.LatLng(36.007778, 129.359184);

    var buildingLatlng= new google.maps.LatLng(36.007778, 129.359184);

    var myOptions = {
      zoom: 15,
      center: centerLating
    };

    var contentString = '<div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">야구<p>포항 야구장<br>9월 15일<br>오전 11:00 ~ 오후 2:00</p></div>';

    var infowindow = new google.maps.InfoWindow({content: contentString});

    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    var marker = new google.maps.Marker({
      position: buildingLatlng,
      map: map,
      title:"포항 야구장"
    });

    infowindow.open(map, marker);

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }

  document.getElementsByTagName("body").onload = initialize();
  </script>
{% endblock %}
