{% extends "page/layout.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/sports/soccer.css' %}">
{% endblock %}

{% block content %}
      <a name="top"></a>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">축구 선수단장 이동현</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone"></div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-captain-image mdl-card mdl-shadow--3dp"></div>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            </div>
            <p class="mdl-typography--font-light science-war-event-text">
              안녕하세요 2018년도 포스텍카이스트학생대제전 축구경기 선수단 주장 이동현입니다. 작년의 패배를 설욕하기 위해 선수단들 모두 여름방학부터 피나는 노력을 하고 있습니다. 최선을 다하여 포카전 첫 경기, 축구경기 승리하고 오겠습니다. 열정을 가지고 최선을 다해 좋은 경기 보여드리도록 하겠습니다. 많은 응원 부탁드릴게요! POSTECH FIGHTING!!
            </p>
          </div>
        </div>

        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">장소 및 시간</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div id="map_canvas"></div>
            </div>
          </div>
        </div>

        <div class="science-war-match-section">
          <div class="science-war-match-title mdl-typography--display-1-color-contrast">선수단</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">이동현</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">노재균</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">박규남</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김영식</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">신승주</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">문혜성</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김대희</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김재범</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김진형</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">Leonardo Rocha</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김태훈</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">한기정</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김태겸</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김종혁</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김희수</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">유태형</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">윤기창</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">구창연</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">손세진</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">황규현</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">이홍근</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">송도훈</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">구태완</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">이동현</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">이정협</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김재문</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="science-war-supporters-section-event">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">경기 중 이벤트</div>
          <div class="science-war-card-container mdl-grid">

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/event3.jpg' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">이구동성 게임</h4>
              </div>
              <div class="mdl-card__supporting-text science-war-event-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  경기 중에 치어로와 이구동성 게임을 하게 됩니다! 치어로가 4글자를 동시에 말하면 서포터즈 여러분들께서 4글자가 무엇인지 정답을 외쳐주시면 됩니다!
                  글자를 맞추면 어떤 상품을 받게 될까요??
                </span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/event5.jpg' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">축구 관람 인증</h4>
              </div>
              <div class="mdl-card__supporting-text science-war-event-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  축구 경기 현장에서 함께 온 친구와 축구 경기장에서의 모습을 사진으로 남기세요! 그리고 단체 관람 사진을 치어로에게 인증하면 상품을 받게 됩니다!
                </span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/event6.jpg' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">빙고 이벤트</h4>
              </div>
              <div class="mdl-card__supporting-text science-war-event-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  서포터즈 분들은 경기 전에 축구경기와 관련된 질문으로 채워진 빙고판을 받게 됩니다! 빙고판을 채움에 따라 포준위로부터 다양한 상품을 받을 수 있다는데요, 어떤 상품을 받게 될까요??
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="science-war-match-section">
          <div class="science-war-match-title mdl-typography--display-1-color-contrast">경기 전적</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2002</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2003</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2004</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2005</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2006</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2007</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2008</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2010</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2011</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2012</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2013</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2014</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2015</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2016</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyC4DzaNFsi_WESg8xMBP7War7ZYv29Ac"></script>
  <script type="text/javascript">
  function initialize() {
    var centerLating = new google.maps.LatLng(36.013474,129.320141);

    var buildingLatlng= new google.maps.LatLng(36.013474,129.320141);

    var myOptions = {
        zoom: 15,
        center: centerLating
    };

    var contentString = '<div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">축구<p>포스텍 대운동장<br>9월 14일<br>오후 3:00 ~ 오후 5:00</p></div>';

    var infowindow = new google.maps.InfoWindow({content: contentString});

    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    var marker = new google.maps.Marker({
        position: buildingLatlng,
        map: map,
        title:"포스텍 대운동장"
    });

    infowindow.open(map, marker);

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }

  document.getElementsByTagName("body").onload = initialize();
  </script>
{% endblock %}
