{% extends "page/layout.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/sports/soccer.css' %}">
{% endblock %}

{% block content %}
    <div class="science-war-content mdl-layout__content">
      <a name="top"></a>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">축구 선수단장 이주호 (물리 14)</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone"></div>
            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-captain-image mdl-card mdl-shadow--3dp"></div>
            </div>
            <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
            </div>
            <p class="mdl-typography--font-light science-war-event-text">
              안녕하세요 2017년도 포스텍카이스트학생대제전 축구경기 선수단 주장 이주호입니다. 작년에 이어 올해 포카전 축구도 승리하기 위해 선수단들 모두 여름방학부터 피나는 노력을 하고 있습니다. 최선을 다하여 포카전 첫 경기, 축구경기 승리하고 오겠습니다. 많은 응원 부탁드립니다. POSTECH FIGHTING!
            </p>
          </div>
        </div>

        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">장소 및 시간</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <div id="map_canvas"></div>
            </div>
          </div>
        </div>

        <div class="science-war-match-section">
          <div class="science-war-match-title mdl-typography--display-1-color-contrast">선수단</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">이주호 물리14</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">박동민 산경13</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">윤태희 화공13</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">문혜성 수학14</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">서원준 산경14</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">고동우 기계15</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">가종현 전자15</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">장세윤 산경15</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">조형준 소재15</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">노재균 생명15</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">이승엽 수학15</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김준성 기계16</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">황윤태 산경16</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">심병조 화공16</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">명현기 산경16</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">조진오 전자16</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김남건 산경16</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김재범 생명16</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">조현준 전자16</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">김희수 창공17</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__player">한기정 물리17</span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="science-war-match-section">
          <div class="science-war-match-title mdl-typography--display-1-color-contrast">경기 전적</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2002</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2003</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2004</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2005</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2006</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2007</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2008</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2010</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2011</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2012</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2013</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2014</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2015</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
                <div class="mdl-card__actions">
                  <span class="science-war-card-image__year">2016</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxVLZtAE6N0fpOa7JIN5b3AHaxV49fMKo"></script>
  <script type="text/javascript">
  function initialize() {
    var centerLating = new google.maps.LatLng(36.369597,127.368465);

    var buildingLatlng= new google.maps.LatLng(36.369597,127.368465);

    var myOptions = {
        zoom: 15,
        center: centerLating
    };

    var contentString = '<div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">축구<p>카이스트 원운동장<br>오후 3:30 ~ 오후 6:00</p></div>';

    var infowindow = new google.maps.InfoWindow({content: contentString});

    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    var marker = new google.maps.Marker({
        position: buildingLatlng,
        map: map,
        title:"카이스트 원운동장"
    });

    infowindow.open(map, marker);

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }

  document.getElementsByTagName("body").onload = initialize();
  </script>
{% endblock %}
