{% extends "page/layout.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block home %}
  <div class="science-war-be-together-section mdl-typography--text-center">
    <div class="logo-font android-slogan"></div>
    <div class="logo-font android-sub-slogan"></div>
  </div>
{% endblock %}

{% block content %}
      <a name="top"></a>
      <div class="science-war-match-section">
        <div class="science-war-match-section">       
          <div class="science-war-card-container mdl-grid">

            <div class="science-war-banners mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            </div>



            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/postech-kaist.png' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">포카전이란?</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font mdl-typography--subhead">2018년에도 돌아온 포카전! 올해에는 과연 어떤 경기들이 우리를 맞이할까요?</span>
              </div>
              <div class="mdl-card__actions">
                <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/about">
                  더 알아보기
                  <i class="material-icons">chevron_right</i>
                </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/postech.png' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">나도 서포터즈!</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font mdl-typography--subhead">올해에도 포카전의 열기를 돋아주시기 위해 참가해주시는 서포터즈 분들을 위한 상품과 행사에는 어떤 것들이 있을까요?</span>
              </div>
              <div class="mdl-card__actions">
                <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/supporters">
                  더 알아보기
                  <i class="material-icons">chevron_right</i>
                </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/postech-booth.png' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">언제? 어디서?</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font mdl-typography--subhead">올해의 포카전은 포스텍에서 열립니다. 포카전 경기들이 언제, 어디서 열리는지 궁금하시다면 여기로 들어가보세요!</span>
              </div>
              <div class="mdl-card__actions">
                <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/schedule">
                  더 알아보기
                  <i class="material-icons">chevron_right</i>
                </a>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/battlegrounds_player.png' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">새로운 종목</h4>
              </div>
              <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font mdl-typography--subhead">올해에는 사이버 포카전에 새로운 종목인 배틀그라운드가 추가됩니다. 새로운 사이버 포카전 종목인 배틀그라운드에 대해서 알아보세요!</span>
              </div>
              <div class="mdl-card__actions">
                <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/cyber/battlegrounds">
                  더 알아보기
                  <i class="material-icons">chevron_right</i>
                </a>
              </div>
            </div>
          </div>      
        </div>
      </div>
{% endblock %}

{% block script %}
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}
