{% extends "page/layout.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/messages.css' %}">
{% endblock %}

{% block content %}
      <a name="top"></a>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">포항공과대학교 총장 김도연</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet"></div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
              <div class="science-war-president-image mdl-card mdl-shadow--3dp"></div>
            </div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-tablet">
            </div>
            <p class="mdl-typography--font-light science-war-text">
              우리나라 이공계 대학을 대표하는 KAIST와 POSTECH 두 대학이 친선과 화합을 도모하기 위해 『제17회 KAIST & POSTECH 학생대제전』을 개최하게 됨을 학생 여러분과 더불어 진심으로 기쁘게 생각합니다.<br><br>

              두 대학은 국가 이공계 핵심인력 양성이라는 뚜렷한 목적을 지니고 있습니다. 그간 선의의 경쟁과 상호 보완적인 관계를 통해 열심히 교육과 연구에 매진한 결과 국내는 물론 세계적인 이공계 대학으로 자리 잡았습니다.<br><br>

              여러분의 사명은 과학기술을 기반으로 새로운 가치를 창출하여 사회에 기여하는 것입니다. 오늘과 내일 이틀간 POSTECH 캠퍼스에서 화려하게 펼쳐질 학생대제전이 각종 경기와 교류를 통해 우의를 다지는 것은 물론 우리가 지니고 있는 사명을 되돌아보는 시간이 되기 바랍니다.<br><br>

              지난 여름은 참으로 뜨거웠습니다. 그 여름에 각 대학 선수들은 승리를 위한 연습에 뜨거운 땀을 흘렸을 것입니다. 최선을 다한다면 결과에 상관없이 모두가 승자가 될 것입니다. 그리고 우리를 지켜보는 모든 분들에게 과학 한국의 밝은 미래를 보여줄 수 있을 것입니다.<br><br>

              이번 제전이 성황리에 개최될 수 있도록 그간 많은 시간을 할애한 양교 선수단과 준비 위원회, 교직원 여러분께 깊은 감사를 드립니다. 한 가족 한 마음으로 모두에게 뜻 깊고 유익한 시간이 되기를 바랍니다. 그리고 대회기간 동안 KAIST 손님들이 불편함이 없도록 우리 POSTECHIAN의 세심한 배려를 당부 드립니다.<br><br>

              감사합니다.<br><br>

              포항공과대학교 총장   김도연<br>
            </p>
          </div>
        </div>
      </div>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">총학생회장 김동석</div>
          <p class="mdl-typography--font-light science-war-text">
            우리나라의 이공계를 대표하는 두 대학, 포스텍과 카이스트의 교류전이 돌아왔습니다. 서로 비슷한 생각과 맥락을 공유하고, 각자의 분야에서 최선을 다하는 양교 학생들이 함께 만들어가는 포스텍-카이스트 학생대제전은 우리의 자랑스러운 문화입니다.<br><br>

            학교를 대표하여 선의의 경쟁을 펼치고, 친구들과 한 목소리로 응원하는 운동⋅과학 경기를 위하여 선수단은 뜨거운 여름을 보냈습니다. 다양한 동아리 공연, 특색 있는 기획 또한 준비되어 있습니다. 포스테키안만이 경험할 수 있는 즐길거리들이 여러분을 기다리고 있습니다.<br><br>

            지난 2년에 이어, 올해 3연승을 완성할 수 있으리라 믿습니다. 최선을 다해주신 선수단과 준비위원회, 포카전을 위해 협력해주신 모든 단체와 포스테키안 여러분께 감사를 전합니다.<br><br>

            제32대 총학생회장 김동석<br><br><br>
          </p>
        </div>
      </div>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">포카전준비위원장 오민정</div>
          <p class="mdl-typography--font-light science-war-text">
            안녕하세요, 여러분! 
            2018학년도 포스텍카이스트학생대제전 준비위원장 오민정입니다.<br>
            114년만의 폭염이라고 불렸던 여름이 지나갔습니다. 서있기만 해도 땀이 나는 날씨에도
            열정적으로 훈련에 임한 선수단과 응원단 여러분, 정말 수고하셨습니다.<br>
            저희 준비위원회, 선수단과 응원단 모두 뜨거운 여름을 보냈습니다.
            선수단과 응원단 분들은 승리를 위해, 그리고 저희 포준위는 승리와 함께 서포터즈 여러분이
            마음껏 즐길 수 있는 축제를 만들기 위해 달렸습니다. 
            모두 홈에서 3연승을 이루기 위해서입니다.<br><br>

            길게 말씀드리지 않겠습니다.
            서포터즈 여러분은 그저 열정 가득 경기를 보고, 소리치고, 응원하며 즐기시면 됩니다.
            그럼, 포카전 당일 뵙겠습니다!<br><br>

            축사가 얼마나 어려운지 깨닫고 있는
            위원장 오민정 올림.<br><br><br>
          </p>
        </div>
      </div>
{% endblock %}

{% block script %}
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}
