{% extends "page/layout.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/schedule.css' %}">
{% endblock %}

{% block content %}
    <div class="science-war-content mdl-layout__content">
      <a name="top"></a>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">전체 일정</div>
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-one-eight mdl-card mdl-shadow--3dp" onclick="location.href='#one_eight'">
                <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>18</span></div></div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-one-nine mdl-card mdl-shadow--3dp" onclick="location.href='#one_nine'">
                <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>19</span></div></div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-two-zero mdl-card mdl-shadow--3dp" onclick="location.href='#two_zero'">
                <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>20</span></div></div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-two-one mdl-card mdl-shadow--3dp" onclick="location.href='#two_one'">
                <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>21</span></div></div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-two-two mdl-card mdl-shadow--3dp" onclick="location.href='#two_two'">
                <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>22</span></div></div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--2-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-match-two-three mdl-card mdl-shadow--3dp" onclick="location.href='#two_three'">
                <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>23</span></div></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <a name="one_eight"></a>
              <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">9월 18일</div>
              <div class="science-war-card-container mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/starcraft.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">스타크래프트</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      인터넷 중계 <br><br>
                      오후 8:00<br>~<br>오후 10:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/cyber/starcraft">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/starcraft2.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">스타크래프트2</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      인터넷 중계 <br><br>
                      오후 10:00<br>~<br>오전 0:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/cyber/starcraft2">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <br><br>

            <div class="mdl-cell mdl-cell--6-col mdl-cell mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <a name="one_nine"></a>
              <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">9월 19일</div>
              <div class="science-war-card-container mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/heroes_of_the_storm.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">시공의 폭풍</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      인터넷 중계 <br><br>
                      오후 7:00<br>~<br>오후 9:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/cyber/heroes_of_the_storm">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <a name="two_zero"></a>
              <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">9월 20일</div>
              <div class="science-war-card-container mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/hearthstone.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">하스스톤</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      인터넷 중계 <br><br>
                      오후 7:00<br>~<br>오후 9:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/cyber/hearthstone/">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/kartrider.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">카트라이더</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      인터넷 중계 <br><br>
                      오후 9:00<br>~<br>오후 11:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/cyber/kartrider">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <a name="two_one"></a>
              <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">9월 21일</div>
              <div class="science-war-card-container mdl-grid">
                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/eve.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">전야제</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      포스텍 대강당 <br><br>
                      오후 9:00<br>~<br>오전 0:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/supporters">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/overwatch.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">오버워치</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      포스텍 대강당 <br><br>
                      오후 9:30<br>~<br><br>
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/cyber/overwatch">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <a name="two_two"></a>
              <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">9월 22일</div>
              <div class="science-war-card-container mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/hacking.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">해킹</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      ??? <br><br>
                      오전 9:00<br>~<br>오후 9:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/sports/hacking">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/opening.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">개막식</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      카이스트 노천극장 <br><br>
                      오후 12:15<br>~<br>오후 3:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/about">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/soccer.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">축구</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      카이스트 원운동장 <br><br>
                      오후 3:30<br>~<br>오후 6:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/sports/soccer">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/ai.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">A.I.</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      카이스트 노천극장 <br><br>
                      오후 7:00<br>~<br>오후 8:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/sports/ai">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/esports.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">E-sports</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      카이스트 노천극장 <br><br>
                      오후 8:00<br>~<br>오후 9:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/sports/esports">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/exchange.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">교류행사</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      카이스트 노천극장 <br><br>
                      오후 9:00<br>~<br><br>
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/supporters">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="science-war-card-container mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell mdl-cell--8-col-tablet mdl-cell--4-col-phone">
              <a name="two_three"></a>
              <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">9월 23일</div>
              <div class="science-war-card-container mdl-grid">
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/baseball.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">야구</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      카이스트 학부운동장 <br><br>
                      오전 10:00<br>~<br>오후 1:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/sports/baseball">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/quiz.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">과학퀴즈</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      카이스트 스포츠컴플렉스 <br><br>
                      오후 2:00<br>~<br>오후 3:30
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/sports/quiz">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/badminton.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">배드민턴</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      카이스트 스포츠컴플렉스 <br><br>
                      오후 3:30<br>~<br>오후 4:30
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/sports/badminton">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>

                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/basketball.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">농구</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      카이스트 스포츠컴플렉스 <br><br>
                      오후 5:00<br>~<br>오후 7:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/sports/basketball">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__media">
                    <img src="{% static 'images/closing.png' %}">
                  </div>
                  <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">폐막식</h4>
                  </div>
                  <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">
                      카이스트 노천극장 <br><br>
                      오후 8:00<br>~<br>오후 10:00
                    </span>
                  </div>
                  <div class="mdl-card__actions">
                    <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="/about">
                      더 알아보기
                      <i class="material-icons">chevron_right</i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}
