{% extends "page/layout.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/supporters.css' %}">
{% endblock %}

{% block content %}
      <a name="top"></a>
      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">서포터즈란?</div>
          <p class="mdl-typography--font-light balanced-paragraph">
            온라인 오프라인으로 서포터즈 모집이 진행됩니다.
            서포터즈에 지원하면 포카전 응원 물품 패키지가 무료로 제공되며 포준위와 카기단이 준비한 각종 이벤트에 참여할 수 있습니다!
            총학생회 정회원이기만 하면 아무런 제약 없이 서포터즈가 될 수 있으니 얼른 서포터즈 모집에 지원하여 혜택과 즐거움을 누리세요!
          </p>
          <p class="mdl-typography--font-light">
            서포터즈 온라인 모집 : 09월 03일 ~ 09월 12일
          </p>
          <div class="mdl-card__actions">
            <a data-toggle="modal" href="#supporters-recruit" class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" id="supporters-recruit-btn" href="">
              서포터즈 신청하기
              <i class="material-icons">chevron_right</i>
            </a>
          </div>
        </div>
      </div>

      <!-- modal -->
      <div class="modal" id="supporters-recruit" role="dialog">
        <div class="modal-content mdl-card mdl-shadow--3dp modal-cancel">
          <div class="mdl-card__title mdl-card--expand">
            <iframe src="https://bit.ly/2017pokasup" height='500px' frameborder=0 framespacing=0 marginheight=0 marginwidth=0 scrolling=yes vspace=0 class="modal-box"></iframe>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect mdl-custom-close">
              <span class="material-icons">close</span>
            </button>
          </div>
        </div>
      </div>


      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">오프라인 서포터즈 모집</div>
          <h4 class="mdl-typography--font-light">기간</h4>
          <p class="mdl-typography--font-light">
            09월 03일 ~ 09월 12일
          </p>
          <h4 class="mdl-typography--font-light">장소</h4>
          <p class="mdl-typography--font-light">
            RC 1층(저녁에만), 지곡회관 1층, 학생회관 1층
          </p>
          <h4 class="mdl-typography--font-light">시간</h4>
          <h5 class="mdl-typography--font-light">점심</h5>
          <p class="mdl-typography--font-light">
            오후 12 : 30 ~ 오후 1 : 40
          </p>
          <h5 class="mdl-typography--font-light">저녁</h5>
          <p class="mdl-typography--font-light">
            오후 6 : 00 ~ 오후 7 : 00
          </p>
        </div>
      </div>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-stuff">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">서포터즈 물품</div>
          <div class="science-war-card-container mdl-grid">

            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-supporters-stuff mdl-card mdl-shadow--3dp">
                <img src="{% static 'images/clapper.png' %}" class="science-war-supporters-stuff__image">

                <div class="mdl-card__actions">
                  <span class="science-war-supporters-stuff__name">클래퍼</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-supporters-stuff mdl-card mdl-shadow--3dp">
                <img src="{% static 'images/balloon.png' %}" class="science-war-supporters-stuff__image">

                <div class="mdl-card__actions">
                  <span class="science-war-supporters-stuff__name">응원막대</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-supporters-stuff mdl-card mdl-shadow--3dp">
                <img src="{% static 'images/bottle.png' %}" class="science-war-supporters-stuff__image">

                <div class="mdl-card__actions">
                  <span class="science-war-supporters-stuff__name">물병</span>
                </div>
              </div>
            </div>


            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-supporters-stuff mdl-card mdl-shadow--3dp">
                <img src="{% static 'images/bag.png' %}" class="science-war-supporters-stuff__image">

                <div class="mdl-card__actions">
                  <span class="science-war-supporters-stuff__name">가방</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-supporters-stuff mdl-card mdl-shadow--3dp">
                <img src="{% static 'images/wristband.png' %}" class="science-war-supporters-stuff__image">

                <div class="mdl-card__actions">
                  <span class="science-war-supporters-stuff__name">팔찌</span>
                </div>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
              <div class="science-war-supporters-stuff mdl-card mdl-shadow--3dp">
                <img src="{% static 'images/badges.png' %}" class="science-war-supporters-stuff__image">

                <div class="mdl-card__actions">
                  <span class="science-war-supporters-stuff__name">뱃지</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-event">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">서포터즈 행사</div>
          <div class="science-war-card-container mdl-grid">

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/event6.png' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">추억의 뽑기</h4>
              </div>
              <div class="mdl-card__supporting-text science-war-event-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  서포터즈 오프라인 지원 행사에서 추억의 뽑기가 진행됩니다!!
                  서포터즈 오프라인 지원자뿐 아니라 온라인에서 지원한 사람, 그리고 과 개총 현장에서 서포터즈 지원을 하는 사람들도 뽑기를 할 수 있다는데요, 과연 어떤 상품을 받게 될까요??
                </span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/event5.jpg' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">N번째 서포터즈!</h4>
              </div>
              <div class="mdl-card__supporting-text science-war-event-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  <b>N번째 등록자</b>
                  <br>
                  서포터즈 등록 시 N번째로 등록하시는 서포터즈에게는 순이 상품권, 맘스터치 싸이버거 교환권 등 맛있는 상품이 쏟아집니다! 과연 내가 N번째가 될 수 잇을까요??
                  <br><br>
                  <b>N번째 입장자</b>
                  <br>
                  전야제에 N번째로 입장하는 서포터즈에게는
                  순수치킨, 베라보 상품권 등 맛있는 상품이 쏟아집니다! 과연 내가 N번째가 될 수 잇을까요??
                </span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/event2.jpg' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">어디서나 서포터즈!!!</h4>
              </div>
              <div class="mdl-card__supporting-text science-war-event-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  <b>인증샷</b>
                  <br>
                  서포터즈 티를 입고 'ㅍㅋ'와 관련된 단어와 연결지어 사진을 찍어 포카전 스태프에게 보내주세요! 추첨을 통해 효자동 쌀국수 상품권을 받을 수 있습니다!
                  <br><br>
                  <b>서포터즈 지원 챌린지</b>
                  <br>
                  페이스북을 통해 게시글 게시 및 미션 수행을 하면 랜덤 상품 지급
                  <br><br>
                  <b>틈새 서포터즈</b>
                  <br>
                  학교 곳곳에 글과 사진 배치. 찾아서 인증하는 사람들에게 랜덤 상품 지급
                </span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/event1.jpg' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">스티커 모으고 선물 받자!!!</h4>
              </div>
              <div class="mdl-card__supporting-text science-war-event-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  이번 포카전 책자의 표지는 스티커 판입니다.
                  포카전 경기를 관람하거나 교류행사에 참여하면 포준위가 스티커를 붙여줍니다.
                  스티커 판에 스티커를 모아주세요.
                  포카전이 끝난 후 포준위가 스티커 판을 수거하고 추첨 후 어마어마한 경품을 드립니다.
                  스티커 개수에 따라 당첨 확률이 달라지므로 스티커를 최대한 많이 모아주세요!
                </span>
              </div>
            </div>

            <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
              <div class="mdl-card__media">
                <img src="{% static 'images/event4.jpg' %}">
              </div>
              <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">Lucky Ticket/Seat</h4>
              </div>
              <div class="mdl-card__supporting-text science-war-event-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">
                  <b>럭키 티켓</b>
                  <br>
                  서포터즈 물품을 담은 가방에 포함된 티켓을 경기 때마다 투표함에 넣음. 추첨을 통해 상품 지급
                  <br><br>
                  <b>럭키 시트</b>
                  <br>
                  포카전 기간동안 경기 관람석 밑에 럭키 시트 표를 붙여두고, 이를 발견해서 포준위에게 가져오시면 포카전 경기를 배터리 걱정 없이 볼 수 있게 해 주는 보조배터리를 드립니다!!!
                </span>
              </div>
            </div>

          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script type="text/javascript">
  window.onload = function() {
    var modal = document.getElementById("supporters-recruit");
    var btn = document.getElementById("supporters-recruit-btn");
    var close = document.getElementsByClassName("modal-cancel")[0];

    btn.onclick = function() {
      'use strict';
      modal.style.display = "block";
    }

    close.onclick = function() {
      'use strict';
      modal.style.display = "none";
    }

    window.onclick = function(event) {
      'use strict';

      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
  };
  </script>
{% endblock %}
