{% for livematch in livematch %}
<div class="science-war-card-container mdl-grid">
  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
    <div class="science-war-event-card__{{livematch.match_name}} mdl-card mdl-shadow--3dp">
      <div class="mdl-card__actions">
        <span class="science-war-card-image__event">{{livematch.경기명}}</span>
      </div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
    <div class="science-war-match-postech-score mdl-card mdl-shadow--3dp">
      <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>{{livematch.p_score}}</span></div></div>
    </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
    <div class="science-war-match-kaist-score mdl-card mdl-shadow--3dp">
      <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>{{livematch.k_score}}</span></div></div>
    </div>
  </div>
</div>
{% endfor %}
