{% extends "page/layout.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/cyber/kartrider.css' %}">
{% endblock %}

{% block content %}
      <a name="top"></a>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">카트라이더</div>
          <p class="left-paragraph mdl-typography--font-light">
            카트라이더는 누구나 간편하게 즐길 수 있는 아케이드 레이싱 게임입니다.
            한 때는 PC방 점유율에서 스타1의 유일한 대항마였죠.
            간편하게 즐길 수 있다고는 했지만, 고수들의 레이싱을 보면 마냥 가볍지만은 않게 느껴지죠.
            귀여운 캐릭터들이 펼치는 초고속 레이스를 구경하세요.
          </p>
          <div class="mdl-card__actions">
            <a class="science-war-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="http://kart.nexon.com/Kart/Guide/gameInfo/Index.aspx">
              자세히 알아보기
              <i class="material-icons">chevron_right</i>
            </a>
          </div>
        </div>
      </div>

        <div class="science-war-supporters-section">
          <div class="science-war-supporters-section-text">
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">경기 규칙</div>
            <p class="left-paragraph mdl-typography--font-light" style="text-align: center">
              3라운드로 진행되며 3판 2선승제<br><br>
              <b>1라운드 : 스피드전</b><br>
              4:4 스피드 팀전<br>
              7판 4선승제<br><br>
              <b>2라운드 : 아이템전</b><br>
              4:4 아이템 팀전<br>
              7판 4선승제<br><br>
              <b>3라운드 : 에이스 듀오 결정전</b><br>
              스피드전 선수 중 두명씩 선발<br>
              2:2 단판 경기<br>
            </p>
          </div>
        </div>

        <div class="science-war-supporters-section">
          <div class="science-war-supporters-section-text">
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">참가 선수</div>
            <div class="science-war-card-container mdl-grid">
              <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__actions">
                    <span class="science-war-card-image__player">김성현 화공13</span>
                  </div>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__actions">
                    <span class="science-war-card-image__player">박성연 소재14</span>
                  </div>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__actions">
                    <span class="science-war-card-image__player">김남건 산경16</span>
                  </div>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                <div class="science-war-player-card mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__actions">
                    <span class="science-war-card-image__player">임승현 단일17</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="science-war-supporters-section">
          <div class="science-war-supporters-section-text">
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">2016년 경기 결과</div>
            <div class="science-war-card-container mdl-grid">
              <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                <div class="science-war-event-card__kartrider mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__actions">
                    <span class="science-war-card-image__event">카트라이더</span>
                  </div>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                <div class="science-war-match-postech-score mdl-card mdl-shadow--3dp">
                  <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>2</span></div></div>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                <div class="science-war-match-kaist-score mdl-card mdl-shadow--3dp">
                  <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>7</span></div></div>
                </div>
              </div>
            </div>
          </div>

          
          <div class="science-war-supporters-section-text">
            <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">2017년 경기 결과</div>
            <div class="science-war-card-container mdl-grid">
              <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                <div class="science-war-event-card__kartrider mdl-card mdl-shadow--3dp">
                  <div class="mdl-card__actions">
                    <span class="science-war-card-image__event">카트라이더</span>
                  </div>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                <div class="science-war-match-postech-score mdl-card mdl-shadow--3dp">
                  <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>2</span></div></div>
                </div>
              </div>

              <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-tablet mdl-cell--1-col-phone">
                <div class="science-war-match-kaist-score mdl-card mdl-shadow--3dp">
                  <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast science-war-result-score-text"><div><span>0</span></div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}

{% block script %}
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}
